{% extends 'main.html' %}

{% block content %}
<main class="update-account layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <i class="fa-solid fa-arrow-left"></i>
          </a>
          <h3>Edit your Profile</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          
          <!-- <div class="avatar avatar--preview active">
            <img class="user-avatar" src="  
            {{request.user.avatar.url}}" >
          </div> -->

          <!-- <input type="file" name="avatar_url" accept="*" id="upload_avatar" value="{{request.user.avatar.url}}"> -->

          <!-- <br>
          <hr style = "display: block;
                      height: 1px;
                      border: 0;
                      border-top: 1px solid #ccc;
                      margin: 1em 0;
                      padding: 0; "> -->

          <!-- <div class="form__group">
            <label for="profile_pic">Avatar</label>
            Currently: <a href="{{current_avatar_url}}">{{current_avatar_url}}</a>
            <input type="file" name="avatar" accept="*" id="id_avatar">
          </div> -->
          {% for field in form %}
          <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}



          <div class="form__action">
            <a class="btn btn--dark" href="index.html">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock content %}