<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/ncu_forum_favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" /> 

    <link href="{% static 'styles/all.min.css' %}" rel="stylesheet" type="text/css" />

    <script src="{% static 'js/all.min.js' %}"></script>

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> 
    
    <title>Conifer - Information Exchange Platform</title>
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}


    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>